.QS-hover-default {
	background-color: #F2F2F2 !important;
}

.QS-hover-default-plain {
	border-color: #F2F2F2 !important;
}

.QS-hover-primary {
	background-color: #ecc48c !important;
}

.QS-hover-primary-plain {
	border-color: #ecc48c !important;
}

.QS-hover-success {
	background-color: #b3e19d !important;
}

.QS-hover-success-plain {
	border-color: #b3e19d !important;
}

.QS-hover-warning {
	background-color: #f3d19e !important;
}

.QS-hover-warning-plain {
	border-color: #f3d19e !important;
}

.QS-hover-danger {
	background-color: #fab6b6 !important;
}

.QS-hover-danger-plain {
	border-color: #fab6b6 !important;
}
