$qs-color-primary: #BC9D6F;

$qs-btn-type-default: #f8f8f8;
$qs-btn-type-default-color: #000000;
$qs-btn-type-default-color-plain: #000000;
$qs-btn-type-default-disabled: #F2F2F2;

$qs-btn-type-primary: #BC9D6F;
$qs-btn-type-primary-color: #ffffff;
$qs-btn-type-primary-color-plain: #BC9D6F;
$qs-btn-type-primary-disabled: #ecc48c;

$qs-btn-type-success: #67C23A;
$qs-btn-type-success-color: #ffffff;
$qs-btn-type-success-color-plain: #67C23A;
$qs-btn-type-success-disabled: #b3e19d;

$qs-btn-type-warning: #FFBF00;
$qs-btn-type-warning-color: #ffffff;
$qs-btn-type-warning-color-plain: #FFBF00;
$qs-btn-type-warning-disabled: #f3d19e;

$qs-btn-type-danger: #FF6010;
$qs-btn-type-danger-color: #ffffff;
$qs-btn-type-danger-color-plain: #FF6010;
$qs-btn-type-danger-disabled: #fab6b6;

$qs-size-text-small-xxx: 22rpx;
$qs-size-text-small-xx: 24rpx;
$qs-size-text-small-x: 26rpx;
$qs-size-text-small: 28rpx;
$qs-size-text-def: 30rpx;
$qs-size-text-large: 32rpx;
$qs-size-text-large-x: 38rpx;
$qs-size-text-large-xx: 44rpx;
$qs-size-text-large-xxx: 50rpx;

$qs-padding-common: 25rpx;

:export {
	theme: $qs-color-primary
}